.wrapper {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  border: 1px solid #6f6f6f;
}

.cities {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city {
  padding: 20px;
  cursor: pointer;
  width: 100%;
  &:hover {
    background: #009dff;
  }
}
